article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: \201c \201d \2018 \2019;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,html input[type=button],/* 1 */input[type=reset],input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* GLOBAL */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: "Lato", sans-serif;
  line-height: 1.4;
  color: #444;
}

ul {
  padding-left: 0;
  margin: 0;
}

a {
  color: #bd1f7b;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s all;
}

a:hover,
a:focus {
  padding: 0.1em 0.3em;
  outline: 2px solid #19d19a;
  transform: scale(1.1);
}

.heading-link {
  color: #91002e;
}

button {
  background: #bd1f7b;
  color: #fff;
  font-weight: bold;
  padding: 8px 20px;
  transition: 0.2s all;
  border: 0;
}

button:hover,
button:focus {
  background: #fff;
  color: #bd1f7b;
  outline: 2px solid #19d19a;
  padding: 10px 26px;
}

em {
  color: #bd1f7b;
}

h1,
h2,
h3 {
  font-family: "Inconsolata", monospace;
  text-transform: lowercase;
  color: #91002e;
}

/* LAYOUT */

header,
footer {
  background-color: #ddd;
}

header {
  height: 200px;
  background: linear-gradient(
    123deg,
    #e9cad9 0%,
    #e9cad9 43%,
    #ff8575 calc(43% + 1px),
    #ff8575 63%,
    #bd1f7b calc(63% + 1px),
    #bd1f7b 78%,
    #19d19a 78%,
    #19d19a calc(78% + 4px),
    #91002e calc(78% + 1px),
    #91002e 100%
  );
}

footer {
  height: 62px;
  background: linear-gradient(
    123deg,
    #e9cad9 0%,
    #e9cad9 8%,
    #ff8575 calc(8% + 1px),
    #ff8575 25%,
    #bd1f7b calc(25% + 1px),
    #bd1f7b 38%,
    #19d19a 38%,
    #19d19a calc(38% + 4px),
    #91002e calc(38% + 1px),
    #91002e 100%
  );
}

main {
  min-height: calc(100vh - 262px);
  padding-top: 50px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

aside {
  width: calc(30% - 30px);
  margin-right: 20px;
}

.blog {
  width: 68%;
}

.outer-wrapper {
  width: 100%;
  background: linear-gradient(
    to right,
    #e9cad9 0%,
    #e9cad9 50%,
    #91002e 50%,
    #91002e 100%
  );
}

.wrapper {
  width: 75%;
  max-width: 1250px;
  margin: 0 auto;
}

/* HEADER */
h1 {
  padding-top: 120px;
  margin: 0;
  font-size: 3.8rem;
}

/* SIDEBAR */
aside p {
  margin-top: 0;
}

h3 {
  font-size: 2rem;
  margin: 0;
}

.sidebar {
  margin: 20px 0;
}

.sidebar__img {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border: 3px solid #19d19a;
  border-radius: 50%;
  position: relative;
}

.sidebar__img__profile {
  width: 100%;
  border: 5px solid #fff;
  border-radius: 50%;
}

.sidebar__img__hi {
  width: 70px;
  display: none;
  position: absolute;
  top: -8px;
  right: -22px;
}

.sidebar__img:hover > .sidebar__img__hi {
  display: block;
}

.sidebar__social a {
  font-size: 1.6rem;
  display: block;
}

.sidebar__social img {
  width: 18px;
  position: relative;
  top: 5px;
}

.sidebar__social a:first-of-type img {
  height: 15px;
  top: 3px;
}

.sidebar__posts li {
  list-style-position: inside;
}

.sidebar__tags ul {
  list-style: none;
  padding-left: 0;
}

.sidebar__tags li {
  display: inline-block;
  margin: 0 5px 5px 0;
  text-transform: lowercase;
}

.sidebar__tags li a {
  border: 2px solid #cc3994;
  border-radius: 20px;
  padding: 0 8px;
}

.sidebar__tags li a:hover {
  border: 2px solid #19d19a;
  outline: none;
}

/* BLOG POSTS */
article {
  margin-bottom: 50px;
}

.post__date,
.post__title {
  margin: 0;
}

.post__date {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.post__title {
  margin-top: 4px;
  padding-bottom: 10px;
  font-size: 3.2rem;
}

.post__title::after {
  content: "";
  background: #19d19a;
  display: block;
  width: 60px;
  height: 3px;
  position: relative;
  top: 10px;
}

.post__link {
  color: #bd1f7b;
  font-weight: bold;
}

/* BLOG ARROWS */
.blog__arrows {
  font-size: 1.4rem;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

/* FOOTER */
.footer__content {
  text-align: right;
  color: #e9cad9;
}

.copyright {
  padding: 20px 0;
  margin: 0;
  text-align: right;
  font-size: 1.4rem;
}

.copyright a {
  color: inherit;
  border-bottom: 2px solid #ff8575;
}

.copyright a:hover,
.copyright a:focus {
  border-bottom: 0;
}

/* COMMENTS */
.post-comments {
  margin-top: 80px;
}

.post-comments__title {
  padding-bottom: 20px;
  position: relative;
}

.post-comments__title::after {
  content: "";
  background: #19d19a;
  display: block;
  width: 60px;
  height: 3px;
  position: relative;
  top: 15px;
}

.comment p {
  margin: 0;
}

.comment p:first-of-type {
  margin-top: 20px;
}

.comment p:last-of-type {
  margin-bottom: 20px;
}

.comment__name {
  font-family: "Inconsolata", monospace;
}

.comment__datetime {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.comment__message {
  font-size: 1.6rem;
}

/* COMMENT FORM */
.post-comments form {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0;
}

.post-comments label,
.post-comments input,
.post-comments textarea {
  margin: 10px 0;
  display: block;
  width: 100%;
}

.post-comments label {
  padding-top: 10px;
  margin-bottom: 5px;
  font-family: "Inconsolata", monospace;
  text-transform: lowercase;
  font-size: 2rem;
  color: #91002e;
}

.post-comments input,
.post-comments textarea {
  padding: 10px;
  border: 2px solid #999;
}

.post-comments input:hover,
.post-comments input:focus,
.post-comments textarea:hover,
.post-comments textarea:focus {
  outline: 2px solid #19d19a;
}

.post-comments button {
  width: 120px;
  margin: 20px auto 0;
}
